* {
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}

body {
    font-family: "Hanken Grotesk";
    background-color:  hsl(221, 100%, 96%);
    height: 100%;
    overflow-y: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
}
.your__result {
    border-radius: 2rem;
    background-color:hsl(241, 81%, 54%);
    color: hsl(221, 100%, 96%);
    height: 100%;
    padding: 2rem;
    width: 25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.title__result {
    text-align: center;
    color:  hsl(241, 100%, 89%);
    font-size: 1.4rem;
    padding-top: 1rem;
    opacity: .8;
}
.content__result {
    height:15rem;
    width: 15rem;
    border-radius: 50%;
    background-color: hsl(234, 85%, 45%);
    margin-top:2rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.number__principal {
    font-size: 5rem;
}
.number__remaining {
    color: hsl(241, 100%, 89%);
    font-size: 1.2rem;
    opacity: .8;
}
.content__down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content__down h2{
    font-size: 2.5rem;
    padding: 1rem;
}
.content__down p{
    color: hsl(241, 100%, 89%);
    text-align: center;
    padding: 2.5rem;
    font-size: 1.2rem;
}
.summary {

    border-radius: 2rem;
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    padding: 2rem;
    width: 25rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.title__summary {
    color: black;
    font-size: 1.2rem;
    text-align: left;
}
.skills {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%; 
}
.skill {
    display: flex;
    align-content: center;
    gap: 2rem;
    font-size: 1.2rem;
    padding: .7rem;
}
.skill__reaction{
    background-color: #FFB1B1;
    border-radius: 4px;
}
.skill__memory{
    background-color: rgba(255, 205, 103, .5);
    border-radius: 4px;
}
.skill__verbal{
    background-color: rgba(0, 189, 170, .4);
    border-radius: 4px;
}
.skill__visual{
    background-color: #969FED;
    border-radius: 4px;
}
.reaction {
    color: hsl(0, 100%, 67%);
}
.memory {
    color:  hsl(39, 100%, 56%);
}
.verbal {
    color: hsl(166, 100%, 37%);
}
.visual{
    color: hsl(234, 85%, 45%);
}
.score {
    display: flex;
    margin-left: 2rem;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
   
    height: 9rem;
}
button {
    background: none;
    border: none;
    background-color: hsl(224, 30%, 27%);
    padding: 15px 70px;
    border-radius: 32px;
    color: white;
}

.attribution {
    font-size: 11px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }